.icon-all-seeing-eye { background-image: url(../img/all-seeing-eye.png);}
.icon-angry-eyes { background-image: url(../img/angry-eyes.png);}
.icon-at-sea { background-image: url(../img/at-sea.png);}
.icon-aura { background-image: url(../img/aura.png);}
.icon-back-pain { background-image: url(../img/back-pain.png);}
.icon-backstab { background-image: url(../img/backstab.png);}
.icon-blindfold { background-image: url(../img/blindfold.png);}
.icon-bowman { background-image: url(../img/bowman.png);}
.icon-broad-dagger { background-image: url(../img/broad-dagger.png);}
.icon-candle-holder { background-image: url(../img/candle-holder.png);}
.icon-candle-light { background-image: url(../img/candle-light.png);}
.icon-cloak-dagger { background-image: url(../img/cloak-dagger.png);}
.icon-coma { background-image: url(../img/coma.png);}
.icon-crawl { background-image: url(../img/crawl.png);}
.icon-deadly-strike { background-image: url(../img/deadly-strike.png);}
.icon-defensive-wall { background-image: url(../img/defensive-wall.png);}
.icon-despair { background-image: url(../img/despair.png);}
.icon-dodging { background-image: url(../img/dodging.png);}
.icon-dripping-tube { background-image: url(../img/dripping-tube.png);}
.icon-embraced-energy { background-image: url(../img/embraced-energy.png);}
.icon-eye-target { background-image: url(../img/eye-target.png);}
.icon-falling { background-image: url(../img/falling.png);}
.icon-forest { background-image: url(../img/forest.png);}
.icon-grab { background-image: url(../img/grab.png);}
.icon-grass { background-image: url(../img/grass.png);}
.icon-grim-reaper { background-image: url(../img/grim-reaper.png);}
.icon-hand { background-image: url(../img/hand.png);}
.icon-hearing-disabled { background-image: url(../img/hearing-disabled.png);}
.icon-heart-plus { background-image: url(../img/heart-plus.png);}
.icon-high-grass { background-image: url(../img/high-grass.png);}
.icon-hood { background-image: url(../img/hood.png);}
.icon-imprisoned { background-image: url(../img/imprisoned.png);}
.icon-internal-injury { background-image: url(../img/internal-injury.png);}
.icon-invisible { background-image: url(../img/invisible.png);}
.icon-journey { background-image: url(../img/journey.png);}
.icon-juggler { background-image: url(../img/juggler.png);}
.icon-jump-across { background-image: url(../img/jump-across.png);}
.icon-knocked-out-stars { background-image: url(../img/knocked-out-stars.png);}
.icon-lightning-mask { background-image: url(../img/lightning-mask.png);}
.icon-lightning-trio { background-image: url(../img/lightning-trio.png);}
.icon-magic-swirl { background-image: url(../img/magic-swirl.png);}
.icon-magnifying-glass { background-image: url(../img/magnifying-glass.png);}
.icon-medical-pack { background-image: url(../img/medical-pack.png);}
.icon-mountain-climbing { background-image: url(../img/mountain-climbing.png);}
.icon-oppression { background-image: url(../img/oppression.png);}
.icon-perspective-dice-six-faces-random { background-image: url(../img/perspective-dice-six-faces-random.png);}
.icon-pocket-bow { background-image: url(../img/pocket-bow.png);}
.icon-pointy-sword { background-image: url(../img/pointy-sword.png);}
.icon-poison-bottle { background-image: url(../img/poison-bottle.png);}
.icon-punch { background-image: url(../img/punch.png);}
.icon-riposte { background-image: url(../img/riposte.png);}
.icon-rock { background-image: url(../img/rock.png);}
.icon-rolling-energy { background-image: url(../img/rolling-energy.png);}
.icon-run { background-image: url(../img/run.png);}
.icon-semi-closed-eye { background-image: url(../img/semi-closed-eye.png);}
.icon-shaking-hands { background-image: url(../img/shaking-hands.png);}
.icon-sharp-smile { background-image: url(../img/sharp-smile.png);}
.icon-skateboarding-01 { background-image: url(../img/skateboarding-01.png);}
.icon-skateboarding-02 { background-image: url(../img/skateboarding-02.png);}
.icon-smitten { background-image: url(../img/smitten.png);}
.icon-snatch { background-image: url(../img/snatch.png);}
.icon-soul { background-image: url(../img/soul.png);}
.icon-sprint { background-image: url(../img/sprint.png);}
.icon-stakes-fence { background-image: url(../img/stakes-fence.png);}
.icon-star-struck { background-image: url(../img/star-struck.png);}
.icon-stone-block { background-image: url(../img/stone-block.png);}
.icon-stone-pile { background-image: url(../img/stone-pile.png);}
.icon-stone-wall { background-image: url(../img/stone-wall.png);}
.icon-stopwatch { background-image: url(../img/stopwatch.png);}
.icon-strong { background-image: url(../img/strong.png);}
.icon-sunbeams { background-image: url(../img/sunbeams.png);}
.icon-suspicious { background-image: url(../img/suspicious.png);}
.icon-sword-brandish { background-image: url(../img/sword-brandish.png);}
.icon-swordsman { background-image: url(../img/swordsman.png);}
.icon-swordswoman { background-image: url(../img/swordswoman.png);}
.icon-think { background-image: url(../img/think.png);}
.icon-third-eye { background-image: url(../img/third-eye.png);}
.icon-thrown-daggers { background-image: url(../img/thrown-daggers.png);}
.icon-vines { background-image: url(../img/vines.png);}
.icon-wingfoot { background-image: url(../img/wingfoot.png);}
.icon-worried-eyes { background-image: url(../img/worried-eyes.png);}
